__pycache__/
__pycache__/start_screen.cpython-313.pyc
__pycache__/sphere_manager.cpython-313.pyc
__pycache__/shapes.cpython-313.pyc
__pycache__/lane_markers.cpython-313.pyc
__pycache__/game_timer.cpython-313.pyc
__pycache__/controls.cpython-313.pyc
__pycache__/button.cpython-313.pyc
